@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  --white: #fff;
  --blue-violet: #6268bf;
  --white-alt: #ebffef;
}

/* Responsive container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
