@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  --white: #fff;
  --blue-violet: #6268bf;
  --white-alt: #ebffef;
  --gray: rgb(42, 40, 40);
  --even: #f2f2f2;
  --gray-alt: rgb(101, 98, 98);
  --input-border: rgb(173, 168, 168);
  --border-radius: 6px;
  --spacing: 20px;
  --spacing-sm: 10px;
  --spacing-xs: 8px;
  --error: #e74c3c;
  --success: #2ecc71;
}
.text-center {
  text-align: center;
}
.placeholder {
  display: none;
}

.flex {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.box {
  box-shadow: 20px 20px 60px #e8e6e6, -20px -20px 60px #ffffff;
  border-radius: var(--border-radius);
  padding: var(--spacing);
}

.mb {
  margin-bottom: var(--spacing);
}

.auth-content {
  width: 100%;
  max-width: 400px;
  padding-top: 0;
}

.brand {
  display: flex;
  justify-content: center;
}

.heading {
  text-align: center;
  color: var(--blue-violet);
}

.form,
.form__input-group {
  display: flex;
  flex-direction: column;
}

.form {
  margin-top: var(--spacing);
}

label {
  color: var(--gray);
}

.form__input,
input[type="date"] {
  border: 1px solid var(--input-border);
  border-radius: var(--border-radius);
  padding: var(--spacing-xs);
  transition: all 0.3s;
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--blue-violet);
  background: var(--white);
}

.form__btn-signin {
  background: var(--blue-violet);
  color: var(--white-alt);
  padding: var(--spacing-xs);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: all 0.3s;
  margin: var(--spacing-xs) 0;
}

.no-margin {
  margin: 0;
  padding: 10px;
}

.form__btn-signin:disabled {
  background: var(--gray-alt);
  cursor: not-allowed;
}

.form__btn-signin:hover {
  filter: brightness(1.2);
}

.form__footer-text {
  color: var(--gray);
  margin-top: var(--spacing-sm);
}

.form__footer-text a {
  color: var(--blue-violet);
}

/* Form Validation */

.form__input-group.success input {
  border-color: var(--success);
}

.form__input-group.error input {
  border-color: var(--error);
}

.form__input-group small {
  visibility: hidden;
}

.form__input-group.error small {
  color: #e74c3c;
  visibility: visible;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 15px;
  border: 1px solid var(--gray-alt);
  border-radius: var(--border-radius);
  width: 40%;
}
.modal__title {
  text-align: center;
  color: var(--gray-alt);
  margin-bottom: var(--spacing);
}

.modal__content code {
  color: var(--gray);
  line-height: 2;
}

/* Responsive container */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .modal__content {
    width: 60%;
  }
}

@media (max-width: 840px) {
  .modal__content {
    width: 70%;
  }

  @media (max-width: 600px) {
    .modal__content {
      width: 90%;
    }
    .modal__content code {
      line-height: 1.5;
    }
  }
}
