.studio-session,
.book-session,
.session__bookings {
  margin: 50px auto 0 auto;
  width: 100%;
  max-width: 900px;
}
#back-to-studio {
  cursor: pointer;
}

.session__title,
.book-session__title {
  color: var(--gray-alt);
}

.session__grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  margin-top: 20px;
}
.session__grid a {
  color: var(--gray-alt);
}

.session__time {
  padding: var(--spacing-sm);
  border: 0.5px solid var(--gray-alt);
  border-radius: var(--border-radius);
  background: var(--white-alt);
  height: 100%;
}

.book-session {
  max-width: 500px;
}

.session__bookings {
  text-align: center;
  overflow-x: auto;
}
.booking__table {
  width: 100%;
  border: 1px solid var(--gray-alt);
  border-collapse: collapse;
}

.booking__table tr:hover td {
  background: var(--gray-alt);
  color: var(--white);
  transition: all 0.3s;
}
.booking__table tr:nth-child(even) {
  background: var(--even);
}

.booking__table th {
  color: var(--white-alt);
  padding: var(--spacing-xs);
  background: var(--gray);
}
.booking__table td {
  color: var(--gray);
  padding: var(--spacing-xs);
  border: 1px solid var(--input-border);
  white-space: nowrap;
}

.booking__table #view {
  cursor: pointer;
}

.bookings_search-form {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: var(--spacing);
}

@media (max-width: 840px) {
  .studio-session {
    max-width: 100%;
  }
  .session__grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .session__time {
    padding: var(--spacing-xs);
  }

  .book-session {
    max-width: 800px;
  }
}

@media (max-width: 600px) {
  .session__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .book-session {
    max-width: 100%;
  }
  .bookings_search-form {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .session__grid {
    gap: 10px;
  }
  .session__time {
    font-size: 0.7em;
  }
  .bookings_search-form {
    grid-template-columns: 1fr;
  }
}
